*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.word{
    padding: 65px 15px 20px 15px;
    position: relative;
    background-color: #f7f7f8;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
}
.word span{
    font-size: 14px;
    line-height: 2.357;
    color: #7a7a7a;
}
.word h4{
    font-size: 18px;
    font-weight: bold;
    line-height: 1.833;
}
.word p{
    margin-bottom: 5px;
    font-size: 14px;
    color: #7a7a7a;
    line-height: 1.75;
}
.word::before{
    width: 50px;
    height: 50px;
    content: "";
    background-image: url(https://maraviyainfotech.com/projects/carrot/carrot-v2/carrot-html/assets/img/testimonial/left-quote.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 20px;
    left: 30px;
    opacity: 0.5;
}
.word::after{
    width: 50px;
    height: 50px;
    content: "";
    background-image: url(https://maraviyainfotech.com/projects/carrot/carrot-v2/carrot-html/assets/img/testimonial/left-quote.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    transform: rotate(180deg);
    bottom: 20px;
    right: 30px;
    opacity: 0.5;
}
.review-img img{
    width: 120px;
    height: 120px;
    border-radius: 100px;
    border: 13px solid #fff;
    position: absolute;
    top: -63px;
    left: 37%;
}
.popular{
    position: relative;
}
.popular::before{
    width: 100px;
    height: 100px;
    content: "";
    background-image: url(https://maraviyainfotech.com/projects/carrot/carrot-v2/carrot-html/assets/img/shape/11.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 20px;
    left: -120px;
}
.word i{
    color: #ffa534;
}